# Handling Missing Data in Pandas

### Two types
-   NaN (Not a Number)
-   None (for oject data types)
-   Pandas basically treat missing data as NaN.

-   isnull() -> used to check if a value is null or not.
-   True -> NaN is missing.
-   False -> value is present.

In [1]:
import pandas as pd

In [2]:
data = {
    "Name": ["Ram", None, "Ghansyam", "Kam", "Aaram", "Sharam", "Gharam"],
    "Age": [12, 13, 14, 15, 16, 17, 18],
    "City": ["Delhi", "Mumbai", "Kolkata", None, "Bangalore", "Hyderabad", "Pune"],
    "Salary": [1000, 2000, 3000, None, 5000, None, 7000],
    "Performance Score": [56, 85, 95, 62, 75, 88, 90],
}

df = pd.DataFrame(data)
print(df)

       Name  Age       City  Salary  Performance Score
0       Ram   12      Delhi  1000.0                 56
1      None   13     Mumbai  2000.0                 85
2  Ghansyam   14    Kolkata  3000.0                 95
3       Kam   15       None     NaN                 62
4     Aaram   16  Bangalore  5000.0                 75
5    Sharam   17  Hyderabad     NaN                 88
6    Gharam   18       Pune  7000.0                 90

-   To find at which place data is missing

In [3]:
df.isnull()

    Name    Age   City  Salary  Performance Score
0  False  False  False   False              False
1   True  False  False   False              False
2  False  False  False   False              False
3  False  False   True    True              False
4  False  False  False   False              False
5  False  False  False    True              False
6  False  False  False   False              False

-   To find in which row how many values are missing

In [4]:
df.isnull().sum()

Name                 1
Age                  0
City                 1
Salary               2
Performance Score    0
dtype: int64