# Manipulating Data in Python

In [9]:
import pandas as pd

In [10]:
data = {
    "Name": ["Ram", "Shyam", "Ghansyam", "Kam", "Aaram", "Sharam", "Gharam"],
    "Age": [12, 13, 14, 15, 16, 17, 18],
    "City": ["Delhi", "Mumbai", "Kolkata", "Chennai", "Bangalore", "Hyderabad", "Pune"],
    "Salary": [1000, 2000, 3000, 4000, 5000, 6000, 7000],
    "Performance Score": [56, 85, 95, 62, 75, 88, 90],
}

In [11]:
df = pd.DataFrame(data)
print(df)

       Name  Age       City  Salary  Performance Score
0       Ram   12      Delhi    1000                 56
1     Shyam   13     Mumbai    2000                 85
2  Ghansyam   14    Kolkata    3000                 95
3       Kam   15    Chennai    4000                 62
4     Aaram   16  Bangalore    5000                 75
5    Sharam   17  Hyderabad    6000                 88
6    Gharam   18       Pune    7000                 90

### Add new column to data

In [12]:
df["Bonus"] = df["Salary"] * 0.1
print(df)

       Name  Age       City  Salary  Performance Score  Bonus
0       Ram   12      Delhi    1000                 56  100.0
1     Shyam   13     Mumbai    2000                 85  200.0
2  Ghansyam   14    Kolkata    3000                 95  300.0
3       Kam   15    Chennai    4000                 62  400.0
4     Aaram   16  Bangalore    5000                 75  500.0
5    Sharam   17  Hyderabad    6000                 88  600.0
6    Gharam   18       Pune    7000                 90  700.0

### Another way of adding a column (also used when want to add to a specific location)

-   using insert()
-   can tell the location of column
-   df.insert(location, "column_name", some_data, allow_duplicates = False)

In [13]:
df.insert(3, "Bonus_2", df["Salary"] * 0.1)
print(df)

       Name  Age       City  Bonus_2  Salary  Performance Score  Bonus
0       Ram   12      Delhi    100.0    1000                 56  100.0
1     Shyam   13     Mumbai    200.0    2000                 85  200.0
2  Ghansyam   14    Kolkata    300.0    3000                 95  300.0
3       Kam   15    Chennai    400.0    4000                 62  400.0
4     Aaram   16  Bangalore    500.0    5000                 75  500.0
5    Sharam   17  Hyderabad    600.0    6000                 88  600.0
6    Gharam   18       Pune    700.0    7000                 90  700.0