# Understanding how to describe data using pandas

In [1]:
import pandas as pd

In [5]:
data = {
    "Name": ["Ram", "Shyam", "Ghansyam", "Kam", "Aaram", "Sharam", "Gharam"],
    "Age": [12, 13, 14, 15, 16, 17, 18],
    "City": ["Delhi", "Mumbai", "Kolkata", "Chennai", "Bangalore", "Hyderabad", "Pune"],
    "Salary": [1000, 2000, 3000, 4000, 5000, 6000, 7000],
    "Performance Score": [56, 85, 95, 62, 75, 88, 90],
}

In [6]:
df = pd.DataFrame(data)
print(df)

       Name  Age       City  Salary  Performance Score
0       Ram   12      Delhi    1000                 56
1     Shyam   13     Mumbai    2000                 85
2  Ghansyam   14    Kolkata    3000                 95
3       Kam   15    Chennai    4000                 62
4     Aaram   16  Bangalore    5000                 75
5    Sharam   17  Hyderabad    6000                 88
6    Gharam   18       Pune    7000                 90

In [7]:
print("*****    Displaying the description of data  *****")
print(df.describe())

*****    Displaying the description of data  *****
             Age       Salary  Performance Score
count   7.000000     7.000000           7.000000
mean   15.000000  4000.000000          78.714286
std     2.160247  2160.246899          14.874075
min    12.000000  1000.000000          56.000000
25%    13.500000  2500.000000          68.500000
50%    15.000000  4000.000000          85.000000
75%    16.500000  5500.000000          89.000000
max    18.000000  7000.000000          95.000000